*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	height : 100%;
}
.container{
	height: calc(100% - 70px);
	font-family: 'Alef', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	padding: 0 20px;
	overflow: auto;
	color : #000;
	background-color: #fafafa;
}
.message {	
	padding: 10px;
	text-align: left;
	opacity: 0;
}
.message:after,.message:before{
	content: '';
	clear: both;
}
.me {
	text-align: right;
}
.content {
	text-align: left;
	max-width: 90%;
	border-radius: 20px;
	padding: 20px;
	background-color :#E3E4E9;
	display: inline-block;
	position: relative;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(170,170,170,1);
	-moz-box-shadow: 1px 1px 2px 0px rgba(170,170,170,1);
	box-shadow: 1px 1px 2px 0px rgba(170,170,170,1);
	word-wrap: break-word;
}
.content:before{
	content: '';
	border-top : 10px solid transparent;
	border-bottom : 10px solid transparent;
	border-right : 20px solid #E3E4E9;
	border-left: none;
	position: absolute;
	left: -20px;
	top : calc(50% - 10px);
}
.info{
	padding: 5px;
	color : #666;
}
.me .content{
	background-color : #4a85dd;
	color : #fff;	
}
.me .content:before{
	border-top : 10px solid transparent;
	border-bottom : 10px solid transparent;
	border-left : 20px solid #4a85dd;
	border-right : none;
	left: 100%;
}
.tool-menu{
	background-color: #fff;
	border-top: 1px solid #aaa;
	padding: 10px;
	position : relative;
	vertical-align: top;
}
.tool-menu .chat,.tool-menu .send{
	border : 1px solid #aaa;
	background : none;
	height: 40px;	
	padding: 5px 20px;
	font-size: 16px;
	display: inline-block;
}
.tool-menu *:focus{
	outline: none;
}
.tool-menu .chat{
	margin: 0 20px;
	width: calc(100% - 180px);
	border-radius : 20px;
	transition : border-radius 0.2s linear;
}
.tool-menu .chat:focus{
	border-radius : 5px;
}
.tool-menu .button{
	background-color: #a3d063;
	border: 2px solid #a3d063;
	color: #000;
	cursor: pointer;
	transition: all 0.2s, background-color 0.2s, border-radius 0.2s linear;
	border-radius: 20px;	
}
.tool-menu .button:hover,.tool-menu .button:active,.tool-menu .button.active{
	background-color: #fff;	
	//border-radius: 5px;	
}
.emoticon-open{
	vertical-align: top;
}
.emoticon-open.active:before{
	content:'';
	display : inline-block;
	width : 20px;
	height : 20px;
	transform : rotateZ(45deg);
	-ms-transform: rotate(45deg);
	border : 1px solid #aaa;
	background-color : rgba(255,255,255,1);
	position : absolute;
	top : -11px;
	left : 20px;
}
.emoticon-container{
	position : absolute;
	bottom : calc(100% + 1px);	
	left : 0px;
	width : 100% ;
	height : 80px;
	border : 1px solid #aaa;
	border-bottom : none;
	border-radius : 20px 20px 0 0;
	background-color : rgba(255,255,255,0.95);
	padding : 15px;
	opacity: 0;
}
.emoticon-open.active+.emoticon-container{
	opacity: 1;
}
/*---emoticon icon---*/
.emoticon {
  display: inline-block;
	width: 40px;
	height : 40px;
	margin : 0 5px 5px 0;
	text-align: center;
	padding-top: 2px;		
}
.icon {
	display: inline-block;
	width: 24px;
	height : 24px;	
	background-repeat : no-repeat;	
	background-size: cover;
	pointer-events: none;
}
.happy{
	background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M20%2C12A8%2C8%200%200%2C0%2012%2C4A8%2C8%200%200%2C0%204%2C12A8%2C8%200%200%2C0%2012%2C20A8%2C8%200%200%2C0%2020%2C12M22%2C12A10%2C10%200%200%2C1%2012%2C22A10%2C10%200%200%2C1%202%2C12A10%2C10%200%200%2C1%2012%2C2A10%2C10%200%200%2C1%2022%2C12M10%2C9.5C10%2C10.3%209.3%2C11%208.5%2C11C7.7%2C11%207%2C10.3%207%2C9.5C7%2C8.7%207.7%2C8%208.5%2C8C9.3%2C8%2010%2C8.7%2010%2C9.5M17%2C9.5C17%2C10.3%2016.3%2C11%2015.5%2C11C14.7%2C11%2014%2C10.3%2014%2C9.5C14%2C8.7%2014.7%2C8%2015.5%2C8C16.3%2C8%2017%2C8.7%2017%2C9.5M12%2C17.23C10.25%2C17.23%208.71%2C16.5%207.81%2C15.42L9.23%2C14C9.68%2C14.72%2010.75%2C15.23%2012%2C15.23C13.25%2C15.23%2014.32%2C14.72%2014.77%2C14L16.19%2C15.42C15.29%2C16.5%2013.75%2C17.23%2012%2C17.23Z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");	
}
.smile{	
	background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M12%2C17.5C14.33%2C17.5%2016.3%2C16.04%2017.11%2C14H6.89C7.69%2C16.04%209.67%2C17.5%2012%2C17.5M8.5%2C11A1.5%2C1.5%200%200%2C0%2010%2C9.5A1.5%2C1.5%200%200%2C0%208.5%2C8A1.5%2C1.5%200%200%2C0%207%2C9.5A1.5%2C1.5%200%200%2C0%208.5%2C11M15.5%2C11A1.5%2C1.5%200%200%2C0%2017%2C9.5A1.5%2C1.5%200%200%2C0%2015.5%2C8A1.5%2C1.5%200%200%2C0%2014%2C9.5A1.5%2C1.5%200%200%2C0%2015.5%2C11M12%2C20A8%2C8%200%200%2C1%204%2C12A8%2C8%200%200%2C1%2012%2C4A8%2C8%200%200%2C1%2020%2C12A8%2C8%200%200%2C1%2012%2C20M12%2C2C6.47%2C2%202%2C6.5%202%2C12A10%2C10%200%200%2C0%2012%2C22A10%2C10%200%200%2C0%2022%2C12A10%2C10%200%200%2C0%2012%2C2Z%27%3E%3C/path%3E%3C/svg%3E");	
}
.cool{
	background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M19%2C10C19%2C11.38%2016.88%2C12.5%2015.5%2C12.5C14.12%2C12.5%2012.75%2C11.38%2012.75%2C10H11.25C11.25%2C11.38%209.88%2C12.5%208.5%2C12.5C7.12%2C12.5%205%2C11.38%205%2C10H4.25C4.09%2C10.64%204%2C11.31%204%2C12A8%2C8%200%200%2C0%2012%2C20A8%2C8%200%200%2C0%2020%2C12C20%2C11.31%2019.91%2C10.64%2019.75%2C10H19M12%2C4C9.04%2C4%206.45%2C5.61%205.07%2C8H18.93C17.55%2C5.61%2014.96%2C4%2012%2C4M22%2C12A10%2C10%200%200%2C1%2012%2C22A10%2C10%200%200%2C1%202%2C12A10%2C10%200%200%2C1%2012%2C2A10%2C10%200%200%2C1%2022%2C12M12%2C17.23C10.25%2C17.23%208.71%2C16.5%207.81%2C15.42L9.23%2C14C9.68%2C14.72%2010.75%2C15.23%2012%2C15.23C13.25%2C15.23%2014.32%2C14.72%2014.77%2C14L16.19%2C15.42C15.29%2C16.5%2013.75%2C17.23%2012%2C17.23Z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");	
}
.devil{
	background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M1.5%2C2.09C2.4%2C3%203.87%2C3.73%205.69%2C4.25C7.41%2C2.84%209.61%2C2%2012%2C2C14.39%2C2%2016.59%2C2.84%2018.31%2C4.25C20.13%2C3.73%2021.6%2C3%2022.5%2C2.09C22.47%2C3.72%2021.65%2C5.21%2020.28%2C6.4C21.37%2C8%2022%2C9.92%2022%2C12A10%2C10%200%200%2C1%2012%2C22A10%2C10%200%200%2C1%202%2C12C2%2C9.92%202.63%2C8%203.72%2C6.4C2.35%2C5.21%201.53%2C3.72%201.5%2C2.09M20%2C12A8%2C8%200%200%2C0%2012%2C4A8%2C8%200%200%2C0%204%2C12A8%2C8%200%200%2C0%2012%2C20A8%2C8%200%200%2C0%2020%2C12M10.5%2C10C10.5%2C10.8%209.8%2C11.5%209%2C11.5C8.2%2C11.5%207.5%2C10.8%207.5%2C10V8.5L10.5%2C10M16.5%2C10C16.5%2C10.8%2015.8%2C11.5%2015%2C11.5C14.2%2C11.5%2013.5%2C10.8%2013.5%2C10L16.5%2C8.5V10M12%2C17.23C10.25%2C17.23%208.71%2C16.5%207.81%2C15.42L9.23%2C14C9.68%2C14.72%2010.75%2C15.23%2012%2C15.23C13.25%2C15.23%2014.32%2C14.72%2014.77%2C14L16.19%2C15.42C15.29%2C16.5%2013.75%2C17.23%2012%2C17.23Z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");	
}

.newtral{
	background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M8.5%2C11A1.5%2C1.5%200%200%2C1%207%2C9.5A1.5%2C1.5%200%200%2C1%208.5%2C8A1.5%2C1.5%200%200%2C1%2010%2C9.5A1.5%2C1.5%200%200%2C1%208.5%2C11M15.5%2C11A1.5%2C1.5%200%200%2C1%2014%2C9.5A1.5%2C1.5%200%200%2C1%2015.5%2C8A1.5%2C1.5%200%200%2C1%2017%2C9.5A1.5%2C1.5%200%200%2C1%2015.5%2C11M12%2C20A8%2C8%200%200%2C0%2020%2C12A8%2C8%200%200%2C0%2012%2C4A8%2C8%200%200%2C0%204%2C12A8%2C8%200%200%2C0%2012%2C20M12%2C2A10%2C10%200%200%2C1%2022%2C12A10%2C10%200%200%2C1%2012%2C22C6.47%2C22%202%2C17.5%202%2C12A10%2C10%200%200%2C1%2012%2C2M9%2C14H15A1%2C1%200%200%2C1%2016%2C15A1%2C1%200%200%2C1%2015%2C16H9A1%2C1%200%200%2C1%208%2C15A1%2C1%200%200%2C1%209%2C14Z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");	
}
.sad{
	background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M20%2C12A8%2C8%200%200%2C0%2012%2C4A8%2C8%200%200%2C0%204%2C12A8%2C8%200%200%2C0%2012%2C20A8%2C8%200%200%2C0%2020%2C12M22%2C12A10%2C10%200%200%2C1%2012%2C22A10%2C10%200%200%2C1%202%2C12A10%2C10%200%200%2C1%2012%2C2A10%2C10%200%200%2C1%2022%2C12M15.5%2C8C16.3%2C8%2017%2C8.7%2017%2C9.5C17%2C10.3%2016.3%2C11%2015.5%2C11C14.7%2C11%2014%2C10.3%2014%2C9.5C14%2C8.7%2014.7%2C8%2015.5%2C8M10%2C9.5C10%2C10.3%209.3%2C11%208.5%2C11C7.7%2C11%207%2C10.3%207%2C9.5C7%2C8.7%207.7%2C8%208.5%2C8C9.3%2C8%2010%2C8.7%2010%2C9.5M12%2C14C13.75%2C14%2015.29%2C14.72%2016.19%2C15.81L14.77%2C17.23C14.32%2C16.5%2013.25%2C16%2012%2C16C10.75%2C16%209.68%2C16.5%209.23%2C17.23L7.81%2C15.81C8.71%2C14.72%2010.25%2C14%2012%2C14%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");	
}
.tongue{
	background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M9%2C8A2%2C2%200%200%2C1%2011%2C10C11%2C10.36%2010.9%2C10.71%2010.73%2C11C10.39%2C10.4%209.74%2C10%209%2C10C8.26%2C10%207.61%2C10.4%207.27%2C11C7.1%2C10.71%207%2C10.36%207%2C10A2%2C2%200%200%2C1%209%2C8M15%2C8A2%2C2%200%200%2C1%2017%2C10C17%2C10.36%2016.9%2C10.71%2016.73%2C11C16.39%2C10.4%2015.74%2C10%2015%2C10C14.26%2C10%2013.61%2C10.4%2013.27%2C11C13.1%2C10.71%2013%2C10.36%2013%2C10A2%2C2%200%200%2C1%2015%2C8M12%2C20A8%2C8%200%200%2C0%2020%2C12A8%2C8%200%200%2C0%2012%2C4A8%2C8%200%200%2C0%204%2C12A8%2C8%200%200%2C0%2012%2C20M12%2C2A10%2C10%200%200%2C1%2022%2C12A10%2C10%200%200%2C1%2012%2C22C6.47%2C22%202%2C17.5%202%2C12A10%2C10%200%200%2C1%2012%2C2M9%2C13H15A1%2C1%200%200%2C1%2016%2C14A1%2C1%200%200%2C1%2015%2C15C15%2C17%2014.1%2C18%2013%2C18C11.9%2C18%2011%2C17%2011%2C15H9A1%2C1%200%200%2C1%208%2C14A1%2C1%200%200%2C1%209%2C13Z%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");	
}
.poop{
	background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2024%2024%27%3E%3Cpath%20d%3D%27M9%2C11C9.55%2C11%2010%2C11.9%2010%2C13C10%2C14.1%209.55%2C15%209%2C15C8.45%2C15%208%2C14.1%208%2C13C8%2C11.9%208.45%2C11%209%2C11M15%2C11C15.55%2C11%2016%2C11.9%2016%2C13C16%2C14.1%2015.55%2C15%2015%2C15C14.45%2C15%2014%2C14.1%2014%2C13C14%2C11.9%2014.45%2C11%2015%2C11M9.75%2C1.75C9.75%2C1.75%2016%2C4%2015%2C8C15%2C8%2019%2C8%2017.25%2C11.5C17.25%2C11.5%2021.46%2C11.94%2020.28%2C15.34C19%2C16.53%2018.7%2C16.88%2017.5%2C17.75L20.31%2C16.14C21.35%2C16.65%2024.37%2C18.47%2021%2C21C17%2C24%2011%2C21.25%209%2C21.25C7%2C21.25%205%2C22%204%2C22C3%2C22%202%2C21%202%2C19C2%2C17%204%2C16%205%2C16C5%2C16%202%2C13%207%2C11C7%2C11%205%2C8%209%2C7C9%2C7%208%2C6%209%2C5C10%2C4%209.75%2C2.75%209.75%2C1.75M8%2C17C9.33%2C18.17%2010.67%2C19.33%2012%2C19.33C13.33%2C19.33%2014.67%2C18.17%2016%2C17H8M9%2C10C7.9%2C10%207%2C11.34%207%2C13C7%2C14.66%207.9%2C16%209%2C16C10.1%2C16%2011%2C14.66%2011%2C13C11%2C11.34%2010.1%2C10%209%2C10M15%2C10C13.9%2C10%2013%2C11.34%2013%2C13C13%2C14.66%2013.9%2C16%2015%2C16C16.1%2C16%2017%2C14.66%2017%2C13C17%2C11.34%2016.1%2C10%2015%2C10%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E");	
}