html , body {
  margin: 0%;
  padding: 0%;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.nav-bar {
  position: absolute;
  top: 0%;
  min-width: 100%;
  min-height: 80px;
  background: black;
}

nav ul {
  position: relative;
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 40px;
  max-width: 600px;
  min-height: 80px;
  justify-content: center;
  align-items: center;
}

nav ul li span {
  padding-bottom: 6px;
  position: relative;
  color: aliceblue;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  transition: width 0.5s forwards;
}

nav ul li span::after {
  content: '';
  position: absolute;
  width: 0%;
  bottom: -2px;
  left: 0%;
  height: 2px;
  background: white;
  transition: width 0.5s;
}
nav ul li span:hover::after {
  width: 100%;
}

.centerAlignment {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.centerAlignment p {
  font-size: 30px;
}

.centerAlignment1 {
  position: absolute;
}

.button {
  height: 45px;
  width:200px;
  font-weight: bold;
  border-radius: 8px;
  border: 0;
  outline: none;
  color: white;
  background: #582CDB;
  box-shadow: 0 12px 18px -9px #582CDB;
  cursor: pointer
}

.reLoginLink {
  color: #4183c4;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;
}

.reLoginLink:focus {
  outline: 0;
}

.reLoginLink:hover {
  color: #1e70bf;
}